
ECommerceApi/bin/*
ECommerceApi/obj/*
ECommerceApi/obj/*
EcommerceApiTest/obj/*
EcommerceApiTest/bin/*
ECommerceApi.Tests/bin/*
ECommerceApi.Tests/obj/*
ECommerceApiTests/bin/*
ECommerceApiTests/obj/*
