ECommerceApi/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
ECommerceApi/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Binder.dll
ECommerceApi/bin/Debug/net8.0/Microsoft.Extensions.Configuration.CommandLine.dll
ECommerceApi/bin/Debug/net8.0/Microsoft.Extensions.Configuration.dll
ECommerceApi/bin/Debug/net8.0/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
ECommerceApi/bin/Debug/net8.0/Microsoft.Extensions.Configuration.FileExtensions.dll
ECommerceApi/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Json.dll
ECommerceApi/bin/Debug/net8.0/Microsoft.Extensions.Configuration.UserSecrets.dll
ECommerceApi/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
ECommerceApi/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
ECommerceApi/bin/Debug/net8.0/Microsoft.Extensions.Diagnostics.Abstractions.dll
ECommerceApi/bin/Debug/net8.0/Microsoft.Extensions.Diagnostics.dll
ECommerceApi/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Abstractions.dll
ECommerceApi/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Physical.dll
ECommerceApi/bin/Debug/net8.0/Microsoft.Extensions.FileSystemGlobbing.dll
ECommerceApi/bin/Debug/net8.0/Microsoft.Extensions.Hosting.Abstractions.dll
ECommerceApi/bin/Debug/net8.0/Microsoft.Extensions.Hosting.dll
ECommerceApi/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
ECommerceApi/bin/Debug/net8.0/Microsoft.Extensions.Logging.Configuration.dll
ECommerceApi/bin/Debug/net8.0/Microsoft.Extensions.Logging.Console.dll
ECommerceApi/bin/Debug/net8.0/Microsoft.Extensions.Logging.Debug.dll
ECommerceApi/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
ECommerceApi/bin/Debug/net8.0/Microsoft.Extensions.Logging.EventLog.dll
ECommerceApi/bin/Debug/net8.0/Microsoft.Extensions.Logging.EventSource.dll
ECommerceApi/bin/Debug/net8.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
ECommerceApi/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
ECommerceApi/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
ECommerceApi/bin/Debug/net8.0/Microsoft.OpenApi.dll
ECommerceApi/bin/Debug/net8.0/Newtonsoft.Json.dll
ECommerceApi/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
ECommerceApi/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
ECommerceApi/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
ECommerceApi/bin/Debug/net8.0/System.Diagnostics.DiagnosticSource.dll
ECommerceApi/bin/Debug/net8.0/System.Diagnostics.EventLog.dll
ECommerceApi/bin/Debug/net8.0/System.Text.Encodings.Web.dll
ECommerceApi/bin/Debug/net8.0/System.Text.Json.dll
ECommerceApi/bin/*

ECommerceApi/obj/Debug/net8.0/ECommerceApi.AssemblyInfoInputs.cache
ECommerceApi/obj/Debug/net8.0/ref/ECommerceApi.dll
ECommerceApi/obj/Debug/net8.0/refint/ECommerceApi.dll
ECommerceApi/obj/Debug/net8.0/ECommerceApi.assets.cache
ECommerceApi/obj/Debug/net8.0/ECommerceApi.csproj.AssemblyReference.cache
ECommerceApi/obj/Debug/net8.0/ECommerceApi.csproj.CopyComplete
ECommerceApi/obj/Debug/net8.0/ECommerceApi.csproj.CoreCompileInputs.cache
ECommerceApi/obj/Debug/net8.0/ECommerceApi.csproj.FileListAbsolute.txt
ECommerceApi/obj/Debug/net8.0/ECommerceApi.dll
ECommerceApi/obj/Debug/net8.0/ECommerceApi.GeneratedMSBuildEditorConfig.editorconfig
ECommerceApi/obj/project.nuget.cache
ECommerceApi/obj/*
